
<footer class="bg-dark py-3 footer">
    <div class="container">
      <div class="row">
        <div class="col-4 py-5" style="    display: flex;flex-direction: column;justify-content: space-between;">
          <div class="footer-websiteTitle "><img src="../../assets/logo.png" class="footer-websiteTitle-icon">
            <div class="footer-websiteTitle-text">AppointmentEase</div>
          </div>
          <p class="footer-websiteDescription ">Book appointments with trusted healthcare providers on our
            user-friendly platform.
            We prioritize your well-being and offer a stress-free experience. Thank you for choosing us.</p>
          <div class="footer-Icons1-container">
            <div class="footer-Icons1"><fa-icon class="footer-Icons1-img" [icon]="faFacebook"></fa-icon></div>
            <div class="footer-Icons1"><fa-icon class="footer-Icons1-img" [icon]="faInstagram"></fa-icon></div>
            <div class="footer-Icons1"><fa-icon class="footer-Icons1-img" [icon]="faYoutube"></fa-icon></div>
          </div>
        </div>
        <div class="col-4 py-5 px-5">
          <div class="Footer-h1">
            <div class="Footer-h1">Popular Services</div>
            <div class="Footer-h1-banner"></div>
          </div>
          <div>
            <ul class="list-group Footer-service-list">
              <li>General check-ups</li>
              <li>Vaccinations and immunizations</li>
              <li>Diagnosis and treatment</li>
              <li>Preventive care and health screenings</li>
              <li>Women's health services</li>

            </ul>
          </div>
        </div>
        <div class="col-4 py-5">
          <div class="Footer-h1">
            <div class="Footer-h1">Contact Info</div>
            <div class="Footer-h1-banner"></div>
          </div>
          <div class="contactList">
            <div class="contactList-text"><fa-icon [icon]="faPhone" class="contactList-icon"></fa-icon>+216 99 999 999</div>
            <div class="contactList-text"><fa-icon [icon]="faEnvelope" class="contactList-icon"></fa-icon>Support@AppointmentEase.com</div>
            <div class="contactList-text"><fa-icon [icon]="faLocationDot" class="contactList-icon"></fa-icon>29 Ghana Street, Tunis, Tunisia, 1017</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container ">
      <p class="text-white text-center">&copy; 2023 Doctor-Patient Appointments. All rights reserved.</p>
    </div>
  </footer>

