.TheBody{
  min-height: calc(100vh - 247.11px);

}

.searchContainer{
  display: flex;
  flex-direction: column;
  background: rgb(229 246 253);
  border-radius: 30px;
  margin: 70px auto 0 auto;
  padding: 30px 30px;
  
}


.searchTitle{
    font-size: X-large;
    font-weight: 600;
    margin-top: 50px;
}
.services-Expand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 border-top: 1px solid #2E3F53;
 padding-top: 5px;
 font-size: small    ;
 font-weight: 400;
 background: #2E3F53;
 color: white;
 border-radius: 0 0 30px 30px;
}
.login-container{
  height: 700px;
  border-left:2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-composant{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
Label{
  font-size: 20px;
  color:  rgb(79, 164, 210);
  margin-left: 20px;
}
input{
   background-color: transparent;
  border-width: 0 0 2px 0;
  padding: 0 35px;
  width: calc(100% + 18px);
  height: 100%;
  border-color: rgb(255 255 255 / 86%);
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4fa4d2;
}
input:hover{
  border-color:rgb(79, 164, 210);
  background: linear-gradient(0deg, rgba(202, 237, 255, 0.699) 0%, rgb(139 195 225 / 0%) 41%, rgb(140 195 225 / 2%) 100%);
 
}
input:focus{
  border-color:rgb(79, 164, 210);
  background: linear-gradient(0deg, rgba(202, 237, 255, 0.699) 0%, rgb(139 195 225 / 0%) 41%, rgb(140 195 225 / 2%) 100%);
 
}
.login-vid{
  transform: translate(66px , -0);
}
button{
  background-color: rgb(79 165 210 / 58%);
  width: calc(100% + 18px);
  border-radius: 0 0 30px 0;
  border-width: 1px 0 0 0;
  height: 50px;
  border-color: white;
  font-size: 20px;
  color: white;
  z-index: 3;

}
button:hover{
  color:  rgb(79, 164, 210);
  background-color:rgba(255, 255, 255, 0);
  border-color: rgb(79, 164, 210);
}
.login-vid div{
  transform: translateX(-154px);
}
.searchTitle{
  font-size: 40px;
  color:  rgb(79, 164, 210);
  margin-left: 20px;
}
.login-composant-input-icon{
position: fixed;
padding-left: 10px;
color: rgb(79, 164, 210);
}
.login-composant-input{
  display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 18px);
    padding: 0 0 15px 0;
}
