<div class="container">
    <div class="search-container">
        <h3>Find Doctor</h3>
        <p>

            Discover trusted doctors and book appointments online easily. Prioritize your health with personalized care
            from professionals you can trust.
        </p>
        <div style="display: flex;
        width: 100%;
        justify-content: space-evenly;">

            <div class="row" style="width: calc(100% - 50px)">
                <div class="col-4 search-input" style="border-radius:  10px 0 0 10px;">
                    <div style="margin-left: 5px;">Search</div>
                    <div style="display: flex;flex-direction: row ; align-items: center; margin-top: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="margin: 5px;">
                            <g id="Iconly/Light-Outline/Search">
                                <g id="Search">
                                    <g id="Group 3">
                                        <mask id="mask0_2_5793" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                            x="2" y="2" width="25" height="25">
                                            <path id="Clip 2" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M2 2H21.4768V21.477H2V2Z" fill="white" />
                                        </mask>
                                        <g>
                                            <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M11.7388 3.5C7.19576 3.5 3.49976 7.195 3.49976 11.738C3.49976 16.281 7.19576 19.977 11.7388 19.977C16.2808 19.977 19.9768 16.281 19.9768 11.738C19.9768 7.195 16.2808 3.5 11.7388 3.5ZM11.7388 21.477C6.36876 21.477 1.99976 17.108 1.99976 11.738C1.99976 6.368 6.36876 2 11.7388 2C17.1088 2 21.4768 6.368 21.4768 11.738C21.4768 17.108 17.1088 21.477 11.7388 21.477Z"
                                                fill="black" />
                                        </g>
                                    </g>
                                    <g id="Group 6">
                                        <mask id="mask1_2_5793" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                            x="17" y="17" width="6" height="6">
                                            <path id="Clip 5" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M17.24 17.7069H22.264V22.7217H17.24V17.7069Z" fill="white" />
                                        </mask>
                                        <g mask="url(#mask1_2_5793)">
                                            <path id="Fill 4" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M21.5142 22.7217C21.3232 22.7217 21.1312 22.6487 20.9842 22.5027L17.4602 18.9887C17.1672 18.6957 17.1662 18.2207 17.4592 17.9277C17.7512 17.6327 18.2262 17.6347 18.5202 17.9257L22.0442 21.4407C22.3372 21.7337 22.3382 22.2077 22.0452 22.5007C21.8992 22.6487 21.7062 22.7217 21.5142 22.7217Z"
                                                fill="black" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                        <input type="text" placeholder="Search by: name , email...">
                    </div>

                </div>
                <div class="col-4 search-input">
                    <div>Location</div>

                    <div style="display: flex;flex-direction: row ; align-items: center; margin-top: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Iconly/Light-Outline/Location">
                                <g id="Location">
                                    <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.2505 8.5C11.2855 8.5 10.5005 9.285 10.5005 10.251C10.5005 11.216 11.2855 12 12.2505 12C13.2155 12 14.0005 11.216 14.0005 10.251C14.0005 9.285 13.2155 8.5 12.2505 8.5ZM12.2505 13.5C10.4585 13.5 9.00049 12.043 9.00049 10.251C9.00049 8.458 10.4585 7 12.2505 7C14.0425 7 15.5005 8.458 15.5005 10.251C15.5005 12.043 14.0425 13.5 12.2505 13.5Z"
                                        fill="black" />
                                    <g id="Group 5">
                                        <mask id="mask0_2_5866" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                            x="4" y="2" width="17" height="20">
                                            <path id="Clip 4" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4 2H20.4995V21.5H4V2Z" fill="white" />
                                        </mask>
                                        <g mask="url(#mask0_2_5866)">
                                            <path id="Fill 3" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.2495 3.5C8.52751 3.5 5.49951 6.557 5.49951 10.313C5.49951 15.092 11.1235 19.748 12.2495 19.996C13.3755 19.747 18.9995 15.091 18.9995 10.313C18.9995 6.557 15.9715 3.5 12.2495 3.5ZM12.2495 21.5C10.4555 21.5 3.99951 15.948 3.99951 10.313C3.99951 5.729 7.70051 2 12.2495 2C16.7985 2 20.4995 5.729 20.4995 10.313C20.4995 15.948 14.0435 21.5 12.2495 21.5Z"
                                                fill="black" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                        <select class="form-select" name="" id="">
                            <option value="">Tunis</option>
                            <option value="">Sousse</option>
                            <option value="">Sfax</option>
                        </select>
                    </div>

                </div>
                <div class="col-4 search-input">
                    <div>Speciality</div>
                    <div style="display: flex;flex-direction: row ; align-items: center; margin-top: 10px;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Iconly/Light-Outline/Category">
                                <g id="Category">
                                    <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.25 3.5C3.5 3.5 3.5 3.708 3.5 6.25V6.275C3.5 7.382 3.5 8.182 3.771 8.52C4.036 8.848 4.823 9 6.25 9C7.677 9 8.464 8.847 8.729 8.519C9 8.182 9 7.382 9 6.274C9 3.708 9 3.5 6.25 3.5ZM6.25 10.5C4.564 10.5 3.299 10.323 2.604 9.46C2 8.711 2 7.689 2 6.275L2.75 6.25H2C2 3.38 2.181 2 6.25 2C10.319 2 10.5 3.38 10.5 6.25C10.5 7.688 10.5 8.711 9.896 9.46C9.201 10.323 7.936 10.5 6.25 10.5Z"
                                        fill="black" />
                                    <path id="Fill 3" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.25 3.5C14.5 3.5 14.5 3.708 14.5 6.25V6.275C14.5 7.382 14.5 8.182 14.771 8.52C15.036 8.848 15.823 9 17.25 9C18.677 9 19.464 8.847 19.729 8.519C20 8.182 20 7.382 20 6.274C20 3.708 20 3.5 17.25 3.5ZM17.25 10.5C15.564 10.5 14.299 10.323 13.604 9.46C13 8.711 13 7.689 13 6.275L13.75 6.25H13C13 3.38 13.181 2 17.25 2C21.319 2 21.5 3.38 21.5 6.25C21.5 7.688 21.5 8.711 20.896 9.46C20.201 10.323 18.936 10.5 17.25 10.5Z"
                                        fill="black" />
                                    <path id="Fill 5" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.25 14.5C3.5 14.5 3.5 14.708 3.5 17.25V17.275C3.5 18.382 3.5 19.182 3.771 19.52C4.036 19.848 4.823 20 6.25 20C7.677 20 8.464 19.847 8.729 19.519C9 19.182 9 18.382 9 17.274C9 14.708 9 14.5 6.25 14.5ZM6.25 21.5C4.564 21.5 3.299 21.323 2.604 20.46C2 19.711 2 18.689 2 17.275L2.75 17.25H2C2 14.38 2.181 13 6.25 13C10.319 13 10.5 14.38 10.5 17.25C10.5 18.688 10.5 19.711 9.896 20.46C9.201 21.323 7.936 21.5 6.25 21.5Z"
                                        fill="black" />
                                    <path id="Fill 7" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.25 14.5C14.5 14.5 14.5 14.708 14.5 17.25V17.275C14.5 18.382 14.5 19.182 14.771 19.52C15.036 19.848 15.823 20 17.25 20C18.677 20 19.464 19.847 19.729 19.519C20 19.182 20 18.382 20 17.274C20 14.708 20 14.5 17.25 14.5ZM17.25 21.5C15.564 21.5 14.299 21.323 13.604 20.46C13 19.711 13 18.689 13 17.275L13.75 17.25H13C13 14.38 13.181 13 17.25 13C21.319 13 21.5 14.38 21.5 17.25C21.5 18.688 21.5 19.711 20.896 20.46C20.201 21.323 18.936 21.5 17.25 21.5Z"
                                        fill="black" />
                                </g>
                            </g>
                        </svg>


                        <select name="" id="" class="form-select">
                            <option value="" selected>speciality</option>
                        </select>
                    </div>

                </div>
            </div>
            <button class="search-btn" style="border-radius: 0 10px   10px 0;"><svg width="24" height="24"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Iconly/Light-Outline/Arrow - Right 2">
                        <g id="Arrow - Right 2">
                            <path id="Stroke 1"
                                d="M7.96967 19.5303C7.7034 19.2641 7.6792 18.8474 7.89705 18.5538L7.96967 18.4697L14.439 12L7.96967 5.53033C7.7034 5.26406 7.6792 4.8474 7.89705 4.55379L7.96967 4.46967C8.23594 4.2034 8.6526 4.1792 8.94621 4.39705L9.03033 4.46967L16.0303 11.4697C16.2966 11.7359 16.3208 12.1526 16.1029 12.4462L16.0303 12.5303L9.03033 19.5303C8.73744 19.8232 8.26256 19.8232 7.96967 19.5303Z"
                                fill="black" />
                        </g>
                    </g>
                </svg>
            </button>
        </div>



































        


<div class="body">
   
  
    <div class="row">
        <div *ngFor="let p of this.getPatientsOfpage(Currentpage-1)" class="col-3">

            <div class="patient-container">
                <img src="assets/{{p['profilePhoto']}}" class="patient-profile-img" alt="">
                <h5>{{p['title']}} {{p['name']}} {{p['lastname']}}</h5>

                <div class="patient-address">
                    {{p['patientDetails']['adress']}}
                </div>

                <div class="patient-info">
                    <div>Gendre</div>
                    <div> {{p['patientDetails']['gender']}}</div>
                </div>
                <div class="patient-info">
                    <div> Weight: </div>
                    <div> {{p['patientDetails']['weight']}}</div>
                </div>
                <div class="patient-info">
                    <div> Height: </div>
                    <div> {{p['patientDetails']['heigth']}}</div>
                </div>

                <button>View patient details</button>
            </div>
        </div>
    </div>
    <div class="paginat">
        <div>
          <button class="arrow-btn" (click)="Currentpage = Currentpage - 1" [disabled]="Currentpage === 1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Iconly/Light-Outline/Arrow - Left 2">
                <g id="Arrow - Left 2">
                <path id="Stroke 1" d="M16.0303 4.46967C16.2966 4.73594 16.3208 5.1526 16.1029 5.44621L16.0303 5.53033L9.561 12L16.0303 18.4697C16.2966 18.7359 16.3208 19.1526 16.1029 19.4462L16.0303 19.5303C15.7641 19.7966 15.3474 19.8208 15.0538 19.6029L14.9697 19.5303L7.96967 12.5303C7.7034 12.2641 7.6792 11.8474 7.89705 11.5538L7.96967 11.4697L14.9697 4.46967C15.2626 4.17678 15.7374 4.17678 16.0303 4.46967Z" fill="black"/>
                </g>
                </g>
                </svg>                
          </button>
        </div>

        <div *ngFor="let page of getPages()">
            <ng-container *ngIf="page === 0; else buttonTemplate">
              <div class="threep" >
                ...
              </div>
            </ng-container>
            <ng-template #buttonTemplate>
              <button class="nbtn" (click)="Currentpage = page" [class.active]="Currentpage === page">
                {{ page }}
              </button>
            </ng-template>
          </div>
        <div>
          <button class="arrow-btn" (click)="Currentpage = Currentpage + 1" [disabled]="Currentpage === totalPages">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.96967 15.5303C0.703403 15.2641 0.679197 14.8474 0.897052 14.5538L0.96967 14.4697L7.439 8L0.96967 1.53033C0.703403 1.26406 0.679197 0.8474 0.897052 0.553788L0.96967 0.46967C1.23594 0.203403 1.6526 0.179197 1.94621 0.397052L2.03033 0.46967L9.03033 7.46967C9.2966 7.73594 9.3208 8.1526 9.10295 8.44621L9.03033 8.53033L2.03033 15.5303C1.73744 15.8232 1.26256 15.8232 0.96967 15.5303Z" fill="black"/>
                </svg>
                
          </button>
        </div>
      </div>

</div>
    </div>

</div>
































