
<header class="sticky-top" style="
background-color: #ffffffb5;
box-shadow: 0px 2px 52px -31px black;
">
    <div class="navbar-container">
      <div class="navbar-container-part1">
        <div class=" navbar-logo-container py-3 px-5">
          <img src="../../assets/logo.png" class="navbar-logo-img">
          <div class="navbar-logo-title">AppointmentEase</div>
        </div>
        <div class="navbar-routerPanel">
          <a class="header-navbar-a" routerLink=""><div class="px-3">Home</div></a>
          <a class="header-navbar-a" routerLink="doctors"><div class="px-3">Doctors</div>  </a>
          <a class="header-navbar-a" routerLink="services"><div class="px-3">Services</div></a>
        
          <a class="header-navbar-a" routerLink="blog"><div class="px-3">Blog</div></a>
        </div>
      </div>
      <button class="navbar-container-loginbtn" routerLink="login">Login</button>
      <button class="navbar-container-Registerbtn" routerLink="CreateAccount">  <i class="fa-regular fa-user"></i>Create Account</button>

    </div>
  </header>