<main class="TheBody">
    <div class="con1 container p-0 ">
        <div class="searchContainer py-0">


            <div class="row">
                <div class="col-6 coll1">
                    <div class="searchTitle pb-3">Find the Right Medical Solutions with AppointmentEase <br> Chat with Our AI Assistant Today!</div>
                  
                </div>
            
            </div>
           
         
            
 <app-chat-component></app-chat-component>
        </div>
        <div class="container m-0 p-0">
            
            <div class="services-Container">
                <div class="services-carrousel" >
                    <div class="serviceTemplate" *ngFor="let service of services">
                        <img src="{{service.serviceImage}}" width="40" alt="">
                        {{service.serviceName}}</div> 
                        
                </div>
             
                <div class=" services-Expand mt-0">See All Services<fa-icon [icon]="faCaretDown" class="contactList-icon mx-auto mb-1"></fa-icon></div>
            </div>
        </div>


    </div>
    <div class="background"></div>

</main>