<main class="TheBody">
    <div class="con1 container p-0 ">
        <div class="searchContainer py-0">


            <div class="row ">
                <div class="col-6 login-vid">
                    <ng-lottie
                    [options]="lottieConfig"
                    [width]="'80%'"
                   
                  ></ng-lottie>
                </div>
                <div class="col-6 login-container p-0">
                    
                    <div class="login-composant">
                        <div class="searchTitle pb-5">Login</div>
                    <Label >E-Mail</Label>
                    <div class="login-composant-input">
                        <i class="fa-solid fa-user login-composant-input-icon"></i>
                    <input type="text"></div>
                    <Label>Password</Label>
                    <div class="login-composant-input">
                        <i class="fa-solid fa-lock login-composant-input-icon"></i>
                    <input type="password"></div>
                </div>
                    <button>Login</button>
                </div>
            
            </div>


        </div>
    </div>

</main>