<main class="TheBody">
    <div class="con1 container ">
        <div class="searchContainer py-0">


            <div class="row">
                <div class="col-9 coll1">
                    <div class="searchTitle pb-3">Find the Right Medical Solutions with AppointmentEase <br> Chat with
                        Our AI Assistant Today!</div>
                    <p>Welcome to AppointmentEase, your trusted source for comprehensive healthcare solutions.
                        Discover top-rated doctors, schedule appointments online, and access valuable health
                        information. Your well-being is our priority. Start your journey to optimal health today..</p>
                </div>
                <div class="col-3 img-container">
                    <img src="assets/images/home-image.png" height="300" alt="">
                </div>

            </div>



            <app-chat-component></app-chat-component>
        </div>



    </div>
    <div class="background"></div>

</main>